* {
    box-sizing: border-box;
}
html, body {
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow-x: hidden;
}
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 13%;
    padding: 17px 0;
}
.logo {
    background: url("logo.png") center center no-repeat;
    background-size: cover;
    height: 40px;
    width: 200px;
}
.logo:hover {
    cursor: pointer
}
.start {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    font-weight: 500;
    border-radius: 13px;
    border: 2px solid #30B6E4;
    color: #30B6E4;
    background-color: #fff;
    padding: 10px 20px;
    transition: all 0.5s;
    text-decoration: none;
}
.start:hover {
    cursor: pointer;
    color: #fff;
    background-color: #30B6E4;
}
.main {
    width: 100%;
}
.panel-one {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(43, 132, 201) url("la-01.png") center center no-repeat;
    background-size: contain;
    padding: 155px 0 250px 0;
}
.panel-three {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background: rgb(43, 132, 201) url("la-01.png") center center no-repeat;
    background-size: contain;
    padding: 155px 0 250px 0;
}
.input {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 45px;
    padding-right: 5px;
    color: #000;
    border-radius: 2px;
    border: 1px solid #d3d3d3;
    height: 42px;
    width: 360px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
    font-size: 15px;
    line-height: 20px;
    font-weight: normal;
    text-overflow: ellipsis;
    margin: 5px;
}
.input::placeholder {
    color: rgba(0, 0, 0, 0.466);
}
.form-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.formulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #fff;
    border-radius: 15px;
    padding: 25px 32px;
}
.formulario-general {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: baseline;
    background: #fff;
    border-radius: 2px;
    padding: 16px 32px;
}
.form-title {
    color: #fff;
}
.registrarse {
    font-weight: 700;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    line-height: 21px;
    padding-top: 12px;
    background: #10BF7A;
    border: 1px solid #10BF7A;
    border-radius: 4px;
    font-size: 14px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    width: 360px;
    padding: 12px 0;
    margin-top: 10px;
}
#mc_embed_signup_scroll {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#mc_embed_signup {
    border-radius: 15px;
}
.title {
    font-size: 42px;
    margin-bottom: 30px;
    font-weight: 600;
    color: #fff;
}
.subtitle {
    font-size: 24px;
    line-height: 38px;
    margin-bottom: 65px;
    color: #fff;
    max-width: 600px;
    text-align: center;
}
.container-form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 450px;
}
.contact-two {
    font-weight: 700;
    font-size: 12px;
    display: inline-block;
    float: left;
    width: 35%;
    height: 55px !important;
    background-color: #fff;
    color: #1B76BC;
    cursor: pointer;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border: 1px solid #fff;
    text-decoration: none;
    text-align: center;
    padding-top: 1rem;
    transition: all 0.5s;
}
.contact-two:hover {
    background-color: transparent;
    color: #fff;
    text-decoration: none;
}
.panel-two {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.subtitle-two {
    padding: 2rem 0;
    font-size: 1.5rem;
    line-height: 38px;
    margin-bottom: 2rem;
    color: #000;
    max-width: 800px;
    text-align: center;
}
.subtitle-free {
    padding: 2rem 0;
    font-size: 24px;
    font-weight: 500;
    line-height: 38px;
    padding: 0;
    margin-bottom: 65px;
    color: #000;
    max-width: 800px;
    text-align: center;
}
.subtitle-how {
    padding: 2rem 0;
    font-size: 24px;
    line-height: 38px;
    margin: 5rem 0;
    color: #000;
    max-width: 800px;
    text-align: center;
}

.panel-four {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 2rem;
    margin: 0 17rem 4rem 17rem;
}
.grid-group-four {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.grid-group-four-proxy2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: none;
}
.process-one-img {
    background: url("contact.jpg") center center no-repeat;
    background-size: 100%;
    border-radius: 1rem;
    height: 80%;
    width: 100%;
}
.process-two-img {
    background: url("schedule.jpg") center center no-repeat;
    background-size: 100%;
    border-radius: 1rem;
    height: 80%;
    width: 100%;
}
.process-three-img {
    background: url("start.jpg") center center no-repeat;
    background-size: 100%;
    height: 80%;
    border-radius: 1rem;
    width: 100%;
}
.process-one {
   
}
.process-title {
    max-width: 260px;
    text-align: left;
    color: #231F20;
    font-size: 28px;
    font-style: italic;
}
.process-subtitle {
    padding: 2rem 0;
    max-width: 20rem;
}
.process-button {
    border-radius: 4px;
    padding: 10px 20px;
    background-color: #1B76BC;
    border: 1px solid transparent;
    font-weight: 700;
    font-size: 12px;
    color: #fff;
    transition: all 0.5s;
    cursor: pointer;
    text-decoration: none;
}
.process-button:hover {
    background-color: #fff;
    color: #1B76BC;
    border: 1px solid #1B76BC;
}
.process-button-white {
    border-radius: 20px;
    padding: 10px 20px;
    background-color: #fff;
    border: 1px solid transparent;
    font-weight: 700;
    font-size: 12px;
    margin: 0 10rem;
    color: #1B76BC;
    transition: all 0.5s;
    cursor: pointer;
    text-decoration: none;
}
.process-button-white:hover {
    background-color: #1B76BC;
    color: #fff;
    border: 1px solid #fff;
}
.panel-six {
    background: url("clients_background.png") top center no-repeat;
    background-size: cover;
    height: 17rem;
}
.panel-six-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0 17rem 10rem 17rem;
}
.peterpans {
    background: url();
}
.toptraveltools {
    background: url("toptraveltools2.png") center center no-repeat;
    background-size: cover;
    width: 200px;
    height: 70px;
}
.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #1B76BC;
    height: 20rem;
}
.logo-white {
    background: url("logo-white.png") center center no-repeat;
    background-size: cover;
    height: 40px;
    width: 200px;
    text-decoration: none;
}
.logo-white:hover {
    cursor: pointer
}
.contact-footer-main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.contact-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: .5rem;
}
.data-footer {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
    margin: .1rem .5rem;
    color: #fff;
    text-align: center;
    text-decoration: none;
}
@media screen and (min-width:320px) and (max-width:426px) {
    .header {
        flex-direction: column;
    }
    .logo {
        margin-bottom: 1rem;
    }
    .logo-white {
        margin-bottom: 1rem;
    }
    .title {
        font-size: 3rem;
        margin-bottom: 1.8rem;  
        font-weight: 600;
        color: #fff;
        max-width: 80%;
        text-align: center;
    }
    .subtitle {
        font-size: 1rem;
        line-height: 20px;
        max-width: 80%;
    }
    .container-form {
        flex-direction: column;
    }
    .input {
        margin-bottom: 1rem;
    }
    .process-one-img {
        height: 76%;
    }
    .contact-two {
        width: 65%;
        border-radius: 4px;
    }
    .grid-group-four-proxy1 {
        display: none;
    }
    .grid-group-four-proxy2 {
        display: flex;
    }
    .process-two-img {
        margin-top: 3rem;
    }
    .subtitle-two {
        padding: 2rem 0;
        font-size: 1.2rem;
        margin: 0 2rem 2rem;
    }
    .panel-four {
        margin: 1rem;
        grid-template-columns: repeat(1, minmax(320px, 1fr));
    }
    .process-three-img {
        height: 76%;
    }
    .subtitle-how {
        margin: 4rem 0 2rem 0;
        padding: 0;
    }
    .subtitle-free {
        padding: 2rem 0;
        margin: 2rem;
    }
    .footer {
        flex-direction: column;
        align-items: center;
        margin-top: 8rem;
    }
    .contact-footer-main {
        align-items: center;
    }
    .process-button-white {
        margin: 0;   
       }

    .formulario-general {
        padding: 0;
    }
    .input {
        width: 300px;
    }
    .registrarse {
        width: 300px;
    }
    .panel-three {
        flex-direction: column;
    }
    .subtitle {
        font-size: 1rem;
        line-height: 20px;
        max-width: 80%;
    }
    .container-form {
        flex-direction: column;
    }
    .input {
        margin-bottom: 1rem;
    }
}
@media screen and (width:320px) {
    .input {
        width: 225px;
    }
    .registrarse {
        width: 225px;
    }
}
@media screen and (min-width:426px) and (max-width:769px) {
    .title {
        text-align: center;
    }
    .subtitle {
        font-size: 1.2rem;
        line-height: 20px;
        max-width: 80%;
    }
    .process-one-img {
        height: 76%;
    }
    .subtitle-two {
        padding: 2rem 0;
        font-size: 1.2rem;
        margin: 0 2rem 2rem;
    }
    .panel-four {
        margin: 2rem;
        grid-template-columns: repeat(1, minmax(350px, 1fr));
    }

    .subtitle-how {
        margin: 4rem 0 2rem 0;
        padding: 0;
    }
    .footer {
        flex-direction: column;
        align-items: center;
        margin-top: 3rem;
    }
    .contact-footer-main {
        align-items: center;
    }
    .process-button-white {
     margin: 1rem 0;   
    }
    .panel-three {
        flex-direction: column;
    }
    .formulario-general {
        padding: 0;
    }
    .input {
        width: 300px;
    }
    .registrarse {
        width: 300px;
    }
}

@media screen and (min-width:769px) and (max-width:1024px) {
    .panel-four {
        margin: 2rem;
        grid-template-columns: repeat(2, minmax(350px, 1fr));
    }

}
@media screen and (min-width:1024px) and (max-width:1440px) {
    .panel-four {
        margin: 2rem;
        grid-template-columns: repeat(2, minmax(350px, 1fr));
    }

}